<div class="jumbotron">
  <div class="col-md-4 offset-md-4">
    <div class="container">
      <h3 class="edit text-center">edit</h3>
      <%= form_with(model: @post, local: true) do |form| %>
        <%= form.file_field :image %>
        <%= form.text_area :text, placeholder: "text", rows: "10" %>
        <%= form.submit "SEND" %>
      <% end %>
    </div>
  </div>
</div>