<div class="jumbotron">
  <div class="col-md-4 offset-md-4">
    <div class="container">
      <h3 class="edit text-center">edit</h3>
      <%= form_with(model: @post, local: true) do |form| %>
        <div>
          <p>Image</p>
          <%= form.file_field :image %>
        </div>
        <div>
          <p>Text</p>
          <%= form.text_area :text, placeholder: "text", rows: "10", class: "form-control" %>
        </div>
        <div>
          <%= form.submit "SEND", class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>