<div class="row Masonry-3">
  <% @posts.each do |post| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-img-top text-center">
          <%= image_tag post.image.variant(resize: '250x250') if post.image.attached? %>
        </div>
        <div class="card-body text-center">
          <p class="card-title"><%= post.user.name %></p>
          <p class="card-text"><%=post.text %></p>
        </div>
      </div>
    </div>
  <%end%>
</div>  
