<div class="row">

    <div class="col-md-4">
      <div class="card" style="width: 280px;">
        <div class="card-body">
          <p class="card-text">カードの使い方の紹介ページです。</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 280px;">
        <div class="card-body">
          <p class="card-text">カードの使い方の紹介ページです。</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 280px;">
        <div class="card-body">
          <p class="card-text">カードの使い方の紹介ページです。</p>
        </div>
      </div>
    </div>
</div>