/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 .card {
   background-color: white;
   margin-top: 3%;
 }

 .jumbotron{
  background: url(salad.PNG) center no-repeat;
  background-size: cover;
  border-radius: 0%;
  background-attachment: fixed;
}

.container-fluid {
  padding-left: 0%;
}

.navbar {
  padding: 0%;
}

.navbar-brand {
  padding-left: 1%;
}

@media (min-width: 576px){
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
 
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-top: 10%;
  }
}

.container {
  margin-top: 20%;
}

.post {
  color: white;
}

.edit {
  color: white;
}

.btn {
  margin-top: 5%;
}

.comment {
  margin-top: 5%;
}

.mypage {
  margin: 10% 5%;
  color:white;
  font-size: 25px;
  font-weight: bold;
}

.editlink {
  color: #808080;
  text-decoration: none;
}

.editlink:hover {
  color: #555555;
}

.delete {
  margin-left: 3%;
}

.light-btn {
  font-size: 15px;
  color: #808080;
 }
 
 .unlight-btn {
  font-size: 15px;
  color: #FF6600;
 }
 
 .like {
   padding-top: 3%;
 }

 .like-btn {
  font-size: 15px;
  color: #808080;
 }
 
 .unlike-btn {
  font-size: 15px;
  color: #e54747;
 }

 .good {
   padding-top: 3%;
   padding-left: 4%;
   white-space: nowrap;
 }

 .like-good {
   display: flex;
 }